.Rproj.user
.Rhistory
.RData
.Ruserdata

# Ignorar carpetas
Paul_input_organized/
JS_docs/

# Ignorar archivos específicos en subdirectorios
Analyses/Inputs/001_Raw_data/reads.txt
Analyses/Inputs/002_Processed/whole/reads_whole.txt
Analyses/Outputs/004_Clustering_plots/kmeans_concensus

# Ignorar carpetas completas
Analyses/Inputs/
Analyses/Outputs/